@import "../../styles/variables";

.main-container{
  background: #fefefe; /* Off-white background for body */
  min-height: 100vh;
  padding: 20px;

  .restaurent-list{
    display:flex;
    gap: $gap;
    flex-wrap:wrap;
    margin-top:20px;
  }
}
